.getCityInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.getCityInfo :nth-child(1) {
	text-align: center;
	margin-bottom: 10px;
	padding: 8px 0;
	border-radius: 5px;
	font-size: 20px;
	outline: none;
	border: none;
}
.getCityInfo :nth-child(2) {
	outline: none;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 3px 0;
	width: 100px;
	font-size: 20px;
	border: none;
	border-radius: 20px;
	transition: all 0.3s ease;
}
.getCityInfo :nth-child(2):hover{
	background: rgb(80, 80, 80);
	color: seashell;
}

.getCityInfo :nth-child(3) {
	text-align: center;
	padding: 3px 0;
	color: black;
	text-decoration: none;
	background: white;
	width: 200px;
	border-radius: 20px;
	transition: all 0.3s ease;
}
.getCityInfo .downloadReady {
	background: rgb(50, 120, 50);
	color: white;
}
.getCityInfo :nth-child(3):hover{
	background: darkgreen;
}
.downloadReadyAnimation{
	animation: ani .5s ease;
}
@keyframes ani{
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(40deg);
	}
	40% {
		transform: rotate(-30deg);
	}
	60% {
		transform: rotate(20deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}